{% extends 'index.html' %}

{% block title %}Buscar Artículos{% endblock %}

{% block content %}
<h2>Resultados de la búsqueda</h2>


{% if query %}
<p>Búsqueda: <strong>{{ query }}</strong></p>
{% endif %}

<ul class="list-group">
    {% for articulo in resultados %}
        <li class="list-group-item">
            <a href="{% url 'wikiApp:verArticulo' articulo.id %}" class="text-decoration-none text-primary">
                <strong>{{ articulo.titulo }}</strong>
            </a>
        </li>
    {% empty %}
        <li class="list-group-item">No se encontraron artículos que coincidan con el término buscado.</li>
    {% endfor %}
</ul>
{% endblock %}
